<!-- <h1 class="title">Hello Angular</h1>

<app-hello></app-hello>

<app-demo></app-demo> -->

<!-- <app-home></app-home> -->

<!-- <app-baitap2></app-baitap2> -->

<!-- <app-data-binding></app-data-binding> -->

<!-- <app-baitap4></app-baitap4> -->

<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-props-demo></app-props-demo> -->
<!-- <app-directive-ui></app-directive-ui> -->

<nav class="nav justify-content-left bg-dark p-2">
  <a class="nav-link" routerLink="/home" routerLinkActive="active bg-white text-dark" >Home</a>
  <a class="nav-link" routerLinkActive="active bg-white text-dark" routerLink="/about">About</a>
  <a class="nav-link" routerLinkActive="active bg-white text-dark" routerLink="/contact">Contact</a>
</nav>



<router-outlet></router-outlet>